<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbB1DSBqLQXqpfrWkAaZq-tJlDfHSX0LQ&callback=initMap" type="text/javascript"></script>
<div class="row">
    <div class="col-md-12">
        <!---->
        <div class="col-md-8">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active" ng-click="check()">
                    <img ng-src="{{slide.image}}">
                </slide>
                <!--Start-->
            </carousel>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-xs-1" style="float: left">
                        <div ng-click="prevPage()"><i class="glyphicon glyphicon-chevron-left"></i></div>
                    </div>
                    <div class="col-md-3 col-xs-3 col-lg-3 " ng-repeat="slide in showThumbnails">
                        <img ng-src="{{slide.image}}"ng-click="setActive(slide.index)" style="width:100px;margin-left: 15px">
                    </div>
                    <div class="col-xs-1" style="float: right">
                        <div ng-click="nextPage()"><i class="glyphicon glyphicon-chevron-right"></i></div>
                    </div>
                </div>
            </div>
            <!--End--><br><br>
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6 class="panel-title">

                            <span class="font-hide">{{tab}}</span></h6>
                        <span class="pull-right">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs" >
                            <li class="active"><a href="#tab1"onclick="return false;" data-toggle="tab" ng-click="tabHead(titleName.title1)"><i class="fa fa-file-text" aria-hidden="true"></i> <span class="font-hide">{{titleName.title1}}</span></a></li>
                            <li><a href="#tab2" onclick="return false;" data-toggle="tab" ng-click="tabHead(titleName.title2)"><i class="fa fa-shield" aria-hidden="true"></i><span class="font-hide">{{titleName.title2}}</span></a></li>
                            <li><a href="#tab3" onclick="return false;" data-toggle="tab" ng-click="tabHead(titleName.title3)"><i class="fa fa-calendar-o" aria-hidden="true"></i><span class="font-hide">{{titleName.title3}}</span></a></li>

                        </ul>
                    </span>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div>
                                    <strong>Description</strong>
                                    <p>
                                        {{detilsInformation[0].accessory_detail.more_description}}</p>
                                    <strong>Processor</strong>
                                    <p>{{detilsInformation[0].accessory_detail.processor}}</p>

                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <!---->
                            </div>

                            <div class="tab-pane" id="tab3">
                                <p>{{detilsInformation[0].accessory_detail.warranty}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="col-md-4">
            <div class="wrapper">
                <div class="form-signin">
                    <div class="form-signin-heading" style="color: #0f0f0f"><h3 style="color: black;padding-top: 6px">{{detilsInformation[0].name}} </h3>
                        <p><strong><i>{{detilsInformation[0].description}}</i></strong></p>
                        <br>

                        <div class="form-group">
                            <label>Quantity:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Payment Option</label>
                            <select class="form-control" id="sel1">
                                <option>Monthly Payment</option>
                                <option>Pay in Full</option>
                            </select>
                        </div>
                        <br>
                        <div class="">
                            <button class="btn btn-lg btn-theme " type="submit">Add to cart</button>
                            <a href="#/accessories" class="btn btn-lg btn-theme" type="submit">Back</a>
                        </div>


                    </div>
                </div><br>
            </div>
        </div>
    </div>
</div>