<!-- CONTENT AREA -->
<toaster-container toaster-options="{'time-out': 3000, 'position-class': 'toast-bottom-right','close-button':true}"></toaster-container>

<div class="container panel panel-default">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Cart Details</h2>
        </div>
    </div>
    <div ng-if="emptycart==true"class="container">
        <div class="row">
            <div class="col-md-12 content ez-listing" id="content">
                <h2 class="text-center" style="color: #0f0f0f">Your cart is empty</h2><br>
            </div>
        </div>
    </div>

    <div ng-if="emptycart==false" class="container">
        <div class="row">
            <div class="col-md-12 content ez-listing" id="content">
                <div class="thumbnail no-border no-margin no-padding clearfix">
                    <div class="caption">
                        <div class="panel-body">
                            <div class="row" ng-repeat="c in cart" style="border-bottom: 1px solid #ccc;padding-bottom: 20px">
                                <div class="col-xs-6 productdetails" style="margin-top: 20px !important;">
                                 <h4 class="product-name text-t">
                                            &nbsp;{{c.name}}
                                        </h4>
                                    <img class="img-responsive text-i" ng-src="{{c.picture}}" width="320" height="300">
                                </div>
                                <div class="col-xs-6 ">

                                    <div class="row">
                                       
                                        <div>
                                        <div class="col-md-12"> <span class="text-i" style="color: #0f0f0f"> SKU: {{c.skuid}} </span></div>

                                            <div class="col-md-4"> <span class="text-i" style="color: #0f0f0f"><strong>Price:</strong> </span>
                                            </div>

                                            <div class="col-md-6"> 
                                      
                                             <span class="text-i"> ${{c.sale_price}} </span>

                                        </div>
                                       
                                    </div>


                                    </div>
                                    <div class="row">

                                        <div>

                                            <div class="col-md-4 col-xs-4"> <span class="text-i" style="color: #0f0f0f"> <strong>Quantity:</strong>  </span>
                                            </div>

                                            <div class="col-md-3 col-xs-2"> 
                                      
                                              <span>
                                                <input style="width:50px;height: 30px" type="number" class="form-control text-box mobile-text"  min=1 max=5 ng-model="c.cartqt" ng-change="total($index)" ng-init="c.qty=c.cartqt">
                                             </span>                                        

                                            </div>

                                        <div class="col-xs-2 col-md-2">
                                            <button type="button " class="btn btn-link btn-xs chk-in text-icon cart-product-trash">
                                                <span class="glyphicon glyphicon-trash" ng-click="removeItem($index)" style=""> </span>
                                            </button>
                                        </div>
                                       
                                    </div>
                                       
                                    </div>

                                </div> 




                            </div>
                            <hr>
                            <div class="row text-center">
                                <div class="col-xs-6 text-right">
                                    <h4 class="" style="color: #0f0f0f">&nbsp;&nbsp;&nbsp;Total:&nbsp;&nbsp;${{totalprice | limitTo: 7}}</h4>
                                </div>
                                <div class="col-xs-6 text-left">
                                    <button type="button" class="btn btn-success checkoutBtn" ng-click="checkout()">
                                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                                        <span class="font-hide" >Checkout</span>
                                    </button>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.page-title{
    font-size: 20px;
    color:#000000;
}
.product-name{
    color:#000000;
}
.checkoutBtn,.btn-success:hover{
    background: #0092CC;
    border-color: #0092CC;
}
.card-price{
    color: #0092CC !important;   
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff !important;
   font-weight: bold;
}
</style>
