<toaster-container toaster-options="{'time-out': 3000,'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
<div class="row">
    <div class="col-md-12">
        <!---->
        <div class="col-md-8">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active" ng-click="check()">
                    <img ng-src="{{slide.image}}" style="width: 100%;height: 100%;">
                </slide>
                <!--Start-->
            </carousel>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-xs-1" style="float: left">
                        <div ng-click="prevPage()"><i class="glyphicon glyphicon-chevron-left"></i></div>
                    </div>
                    <div class="col-md-3 col-xs-3 col-lg-3 " ng-repeat="slide in showThumbnails">
                        <img ng-src="{{slide.image}}"ng-click="setActive(slide.index)" style="width:100px;margin-left: 15px">
                    </div>
                    <div class="col-xs-1" style="float: right">
                        <div ng-click="nextPage()"><i class="glyphicon glyphicon-chevron-right"></i></div>
                    </div>
                </div>
            </div>
            <!--End--><br><br>
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6 class="panel-title">

                            <span class="font-hide">{{tab}}</span></h6>
                        <span class="pull-right">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs" >

                            <!--<li class="active"><a href="#tab1"onclick="return false;" data-toggle="tab" ng-click="tabHead(titleName.title1)"><i class="fa fa-file-text" aria-hidden="true"></i> <span class="font-hide">{{titleName.title1}}</span></a></li>-->
                            <li><a href="#tab1" onclick="return false;" data-toggle="tab" ng-click="tabHead(titleName.title1)"><i class="fa fa-shield" aria-hidden="true"></i><span class="font-hide">{{titleName.title1}}</span></a></li>
                            <li><a href="#tab3" onclick="return false;" data-toggle="tab" ng-click="tabHead(titleName.title3)"><i class="fa fa-calendar-o" aria-hidden="true"></i><span class="font-hide">{{titleName.title3}}</span></a></li>

                        </ul>
                    </span>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div>
                                    <strong>Description</strong>
                                    <p ng-if="product=='mobiles'">
                                        {{detilsInformation[0].product_detail.more_description}}</p>
                                    <p ng-if="product=='accessory'">
                                        {{detilsInformation[0].accessory_detail.more_description}}</p>
                                    <strong ng-if="product=='mobiles'">Processor</strong>
                                    <p ng-if="product=='mobiles'">{{detilsInformation[0].product_detail.processor}}</p>


                                </div>
                            </div>
                           <!-- <div class="tab-pane" id="tab2">
                                &lt;!&ndash;&ndash;&gt;
                            </div>-->

                            <div class="tab-pane" id="tab3">
                                <p ng-if="product=='mobiles'">{{detilsInformation[0].product_detail.warranty}}</p>
                                <p ng-if="product=='accessory'">{{detilsInformation[0].accessory_detail.warranty}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="col-md-4">
            <div class="wrapper">
                <div class="form-signin">
                    <div class="form-signin-heading" style="color: #0f0f0f"><h3 style="color: black;padding-top: 6px">{{detilsInformation[0].name}} </h3>
                        <p><strong><i>{{detilsInformation[0].description}}</i></strong></p>
                        <br>
                        <h4 class="caption-text"></h4>

                        <div ng-if="product=='mobiles'" class="form-group">
                            <label>Memory:</label>
                            <a class="btn btn-default btn-select">
                                <input type="hidden" class="btn-select-input" id="" name="" value="" />
                                <span class="btn-select-value">Memory</span>
                                <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                <ul>
                                    <li>16</li>
                                    <li>32</li>
                                    <li>64</li>
                                </ul>
                            </a>
                        </div>
                        <div ng-if="product=='accessory'" class="form-group">
                            <label>Quantity:</label>
                            <a class="btn btn-default btn-select">
                                <input type="hidden" class="btn-select-input" id="" name="" value="" />
                                <span class="btn-select-value">Select Quantity</span>
                                <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                <ul>
                                    <li ng-click="calc(1)">1</li>
                                    <li ng-click="calc(2)">2</li>
                                    <li ng-click="calc(3)">3</li>
                                    <li ng-click="calc(4)">4</li>
                                </ul>
                            </a>
                        </div>

                        <div class="form-group">
                            <label>Payment Option</label>
                            <a class="btn btn-default btn-select">
                                <input type="hidden" class="btn-select-input" id="" name="" value="" />
                                <span class="btn-select-value">Select an Item</span>
                                <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                <ul>
                                    <li>Monthly Payment</li>
                                    <li class="selected">Pay in full</li>
                                </ul>
                            </a>
                        </div>
                        <!--<h4 class="caption-text" style="border-bottom: 2px solid gray;"></h4>-->

                        <div class="panel-body ">
                            <label>Price</label>
                            <p ng-if="product=='mobiles'" class="lead" style="font-size:30px"><strong>${{detilsInformation[0].sale_price}} / <span style="font-size: 15px">Original Price</span></strong></p>
                            <p ng-if="product=='accessory'" class="lead" style="font-size:30px"><strong>${{detilsInformation[0].sale_price*qty}} / <span style="font-size: 15px">Original Price</span></strong></p>
                        </div>

                        <div class="" style="text-align: center">
                            <button class="btn btn-lg btn-theme " type="submit" ng-show="detilsInformation[0].cartqt==0" ng-click="addCart()">Add to cart</button>
                            <button class="btn btn-lg btn-theme " type="submit" ng-show="detilsInformation[0].cartqt>0" ng-click="openCart()">Go to cart</button>
                            <a href="" class="btn btn-lg btn-theme" type="submit" ng-click="back()">Back</a>
                        </div>
                    </div>
                </div><br>
            </div>

            <div class="wrapper" ng-if="product=='mobiles'">
                <div class="form-signin">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <h5 style="color: #0f0f0f;">Related Product</h5>
                                <!-- <h4 class="caption-text" style="border-bottom: 2px solid gray;"></h4>-->
                                <div id="myCarousel" class="carousel slide">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <a href="#"><img class="thumbnail" src="http://placehold.it/600x400/" alt="Slide1"></a>
                                        </div>
                                        <div class="item">
                                            <a href="#"><img class="thumbnail" src="http://placehold.it/600x400/" alt="Slide2"></a>

                                        </div>
                                        <div class="item">
                                            <a href="#"><img class="thumbnail" src="http://placehold.it/600x400/" alt="Slide3"></a>

                                        </div>
                                    </div>
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                    </ol>
                                </div><!-- End Carousel -->
                            </div>
                        </div>
                    </div>

                </div><br>
            </div>
        </div>
    </div>
</div>

<style>
    .carousel-indicators {
        bottom:-40px;
        left:0;
        width:100%;
        background:#ccc;
        padding: 6px 0px;
        margin-left:0;
        border-top:2px solid #fff;
    }
    .carousel-indicators li {
        width:12px;
        height:12px;
        background:#fff;
        border-color:#fff;

    }
    .carousel-indicators .active {
        width:14px;
        height:14px;
        background:#428bca;
        border-color:#428bca;
    }
    .carousel-inner .thumbnail {
        margin-bottom:0;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
    }
    .carousel-inner .caption {
        background:#ddd;
        padding: 10px;
    }

    .btn-select {
        position: relative;
        padding: 0;
        min-width: 236px;
        width: 100%;
        border-radius: 0;
        margin-bottom: 20px;
    }

    .btn-select .btn-select-value {
        padding: 6px 12px;
        display: block;
        position: absolute;
        left: 0;
        right: 34px;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        border-top: none !important;
        border-bottom: none !important;
        border-left: none !important;
    }

    .btn-select .btn-select-arrow {
        float: right;
        line-height: 20px;
        padding: 6px 10px;
        top: 0;
    }

    .btn-select ul {
        display: none;
        background-color: white;
        color: black;
        clear: both;
        list-style: none;
        padding: 0;
        margin: 0;
        border-top: none !important;
        position: absolute;
        left: -1px;
        right: -1px;
        top: 33px;
        z-index: 999;
    }

    .btn-select ul li {
        padding: 3px 6px;
        text-align: left;
    }

    .btn-select ul li:hover {
        background-color: #f4f4f4;
    }

    .btn-select ul li.selected {
        color: white;
    }

    /* Default Start */
    .btn-select.btn-default:hover, .btn-select.btn-default:active, .btn-select.btn-default.active {
        border-color: #ccc;
    }

    .btn-select.btn-default ul li.selected {
        background-color: #ccc;
    }

    .btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
        background-color: white;
        border: #ccc 1px solid;
    }

    .btn-select.btn-default:hover, .btn-select.btn-default.active {
        background-color: #e6e6e6;
    }

    .btn-select.btn-select-light .btn-select-value {
        background-color: white;
        color: black;
    }
</style>


