<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbB1DSBqLQXqpfrWkAaZq-tJlDfHSX0LQ&callback=initMap" type="text/javascript"></script>
<div class="row">
    <div class="col-md-12">
        <!---->
        <div class="col-md-8">
            <div class="">
                <h3 style="color: black;padding-top: 6px">{{detilsInformation[0].name}}</h3>
                <h4 style="color: black;">{{detilsInformation[0].address_1}}</h4>
            </div>
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active" ng-click="check()">
                    <img ng-src="{{slide.image}}" style="width: 100%">
                </slide>
                <!--Start-->
            </carousel>
            <div class="row">
            <div class="col-md-12">
                <div class="col-xs-1" style="float: left">
                    <div ng-click="prevPage()"><i class="glyphicon glyphicon-chevron-left"></i></div>
                </div>
                <div class="col-md-3 col-xs-3 col-lg-3 " ng-repeat="slide in showThumbnails">
                    <img ng-src="{{slide.image}}"ng-click="setActive(slide.index)" style="width:100px;margin-left: 15px">
                </div>
                <div class="col-xs-1" style="float: right">
                    <div ng-click="nextPage()"><i class="glyphicon glyphicon-chevron-right"></i></div>
                </div>
            </div>
            </div>


            <!--End--><br><br>
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6 class="panel-title">

                            <span class="font-hide">{{tab}}</span></h6>
                        <span class="pull-right">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs" >
                            <li class="active"><a href="#tab1"onclick="return false;" data-toggle="tab" ng-click="tabHead(titleName.title1)"><i class="fa fa-file-text" aria-hidden="true"></i> <span class="font-hide">{{titleName.title1}}</span></a></li>
                            <li><a href="#tab2" onclick="return false;" data-toggle="tab" ng-click="tabHead(titleName.title2)"><i class="fa fa-shield" aria-hidden="true"></i><span class="font-hide">{{titleName.title2}}</span></a></li>
                            <li><a href="#tab3" onclick="return false;" data-toggle="tab" ng-click="tabHead(titleName.title3)"><i class="fa fa-calendar-o" aria-hidden="true"></i><span class="font-hide">{{titleName.title3}}</span></a></li>

                        </ul>
                    </span>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div>
                                    <strong>Description</strong>
                                    <p>
                                        {{detilsInformation[0].short_description}}</p>
                                    <strong>Address</strong>
                                    <p>{{detilsInformation[0].address_1}}</p>
                                    <strong>Map</strong>
                                    <hr>
                                    <div class="google-map" style="max-height: 100px !important;">
                                        <div id="map-canvas">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <table class="table table-bordered" style="width: 100%;">
                                    <tbody>
                                    <tr >
                                        <td><span ng-style="detilsInformation[0].listing_amenity.conciergeServices==true ? {'color':'green'}:{'color':'black'}">Concierge Services</span></td>
                                        <td><span ng-style="detilsInformation[0].listing_amenity.conciergeServices==true ? {'color':'green'}:{'color':'black'}">BeachFront</span></td>
                                        <td><span ng-style="detilsInformation[0].listing_amenity.arcade==true ? {'color':'green'}:{'color':'black'}">Arcade</span></td>
                                    </tr>
                                    <tr>
                                        <td><span ng-style="detilsInformation[0].listing_amenity.gameRoom==true ? {'color':'green'}:{'color':'black'}">Game Room</span></td>
                                        <td><span ng-style="detilsInformation[0].listing_amenity.conciergeServices==true ? {'color':'green'}:{'color':'black'}">Shopping On Site</span></td>
                                        <td><span ng-style="detilsInformation[0].listing_amenity.fitnessFacilities==true ? {'color':'green'}:{'color':'black'}">Fitness Facilities</span></td>
                                    </tr>
                                    <tr>
                                        <td><span ng-style="detilsInformation[0].listing_amenity.conciergeServices==true ? {'color':'green'}:{'color':'black'}">Pools Water</span></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <span class=""><strong>Cleaning</strong></span><br>
                                <p>Renter agrees to maintain the cleanliness of the premises during the occupancy and to leave the premises in good condition upon departure.</p>
                                <span class=""><strong>Smoking</strong></span><br>
                                <p>Smoking is not permitted inside our rental property. If there is evidence that smoking has occurred inside the property you will be charged an additional $150 cleaning and ionization service fee. Please smoke outdoors and responsibly discard all smoking debris.</p>
                                <span class=""><strong> Important</strong></span><br>
                                <p>If expenses are incurred to repair damage, replace missing items, pay for extra cleaning or other violations of the rental policy as a result of your stay, by signing this agreement you authorize owner to deduct such fees and expenses from the security deposit.</p>
                                <span class=""><strong> Pet Policy</strong></span><br>
                                <p>Pets are not permitted in rental units under any conditions and charge a $300 fine if discovered. This is because many of our guests are allergic to pet dander and we must use extraordinary methods to clean the unit after a pet is discovered in the unit.</p>
                                <span class=""><strong>Hurricane and Storm Policy</strong></span><br>
                                <p>No refunds will be given unless: a. The National Weather Service orders mandatory evacuations in a "Tropical Storm/Hurricane Warning area" and/or b. A "mandatory evacuation order has been given for the Tropical Storm/Hurricane Warning" area of residence of a vacationing guest. The day that the National Weather Service orders a mandatory evacuation order in a "Tropical Storm/Hurricane Warning," area, we will refund: 1. Any unused portion of rent from a guest currently registered, 2. Any unused portion of rent from a guest that is scheduled to arrive, and wants to shorten their stay, to come in after the Hurricane Warning is lifted; and 3. Any advance rents collected or deposited for a reservation that is scheduled to arrive during the "Hurricane Warning" period.</p>
                                <span class=""><strong>Gatherings</strong></span><br>
                                <p>The maximum number of guests for Splashs `WindSong` condominium is 8. Exceptions will be made for children 2 and under.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!---->
        <div class="col-md-4">
            <div class="wrapper">
                <form class="form-signin">
                    <h2 class="form-signin-heading" style="color: #0f0f0f">Contact the owner</h2>
                    <p><strong><i>This property cannot be booked online at this time. The owner has not set up pricing yet, but feel free to use the form below to contact the owner directly.</i></strong></p>
                    <label class="owner-label" style="">YOUR EMAIL ADDRESS:</label>
                    <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />

                    <div class="form-group">
                        <label class="owner-label">CHECK IN:</label>
                        <ng-datepicker name="checkindate" class="form-control" ng-model="mail.checkindate" required>
                        <span style="color: red" ng-show="owner.checkindate.$dirty && owner.checkindate.$invalid">
                        <span ng-show="owner.checkindate.$error.required">Check In Required</span>
                    </span>
                    </div>
                    <div class="form-group">
                        <label class="owner-label">CHECK OUT:</label>
                        <ng-datepicker class="form-control" ng-model="mail.checkoutdate"/>
                        <span style="color: red" ng-show="owner.checkoutdate.$dirty && owner.checkoutdate.$invalid">
                        <span ng-show="owner.checkoutdate.$error.required">Check In Required</span>
                        </span>
                    </div>
                    <label class="owner-label">OPTIONAL MESSAGE:</label>
                    <textarea class="form-control" rows="5" ng-model="mail.messages"></textarea>
                    <br>
                    <button class="btn btn-lg btn-theme btn-block email-owner-button " type="submit">Email Owner</button>
                </form>
            </div><br>

            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-md btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span>Add Cart</button>
                    <a href="#/excursions" type="button" class="btn btn-md btn btn-warning" style="float: right"> <span class="glyphicon glyphicon-step-backward"></span>Back</a>
                </div>
            </div><br><br>

        </div>
    </div>
</div>
<style>
    .form-signin {
        max-width: 380px;
        padding: 15px 35px 45px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .form-signin-heading,
    .checkbox {
        margin-bottom: 30px;
    }

    .checkbox {
        font-weight: normal;
    }

    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
    }

    input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    @media screen and (max-width: 800px) {
        .font-hide {
            font-size: 0;
        }
    }
    /*Panel tabs*/
    .panel-tabs {
        position: relative;
        bottom: 30px;
        clear:both;
        border-bottom: 1px solid transparent;
    }

    .panel-tabs > li {
        float: left;
        margin-bottom: -1px;
    }

    .panel-tabs > li > a {
        margin-right: 2px;
        margin-top: 4px;
        line-height: .85;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        color: #ffffff;
    }

    .panel-tabs > li > a:hover {
        border-color: transparent;
        color: #ffffff;
        background-color: transparent;
    }

    .panel-tabs > li.active > a,
    .panel-tabs > li.active > a:hover,
    .panel-tabs > li.active > a:focus {
        color: #fff;
        cursor: default;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: rgba(255,255,255, .23);
        border-bottom-color: transparent;
    }
    @media screen and (min-width: 768px) {
        .carousel-indicators {
            bottom: 61px;
        }
    }

</style>
