<div class="row">
    <h3 style="color: black">Credit Information</h3>
</div>
<div class="row">
    <div class=" col-md-6 form-group">
        <label>Select your ID type</label>
        <select class="form-control" ng-model="customer_details.idtype">
            <option value="">Select your ID type</option>
            <option value="State issued ID">State issued ID</option>
            <option value="Drivers Liscence">Drivers Liscence</option>
            <option value="Military ID">Military ID</option>
            <option value="Passport">Passport</option>
        </select>
    </div>
    <!---->
    <div class="col-md-6 form-group">
        <label>ID Number</label>
        <input type="text" ng-model="customer_details.idnumber" class="form-control" id="pwd">
    </div>
</div>
<!---->


<div class="row">
    <div class="col-sm-6 form-group">
        <div class="form-group">
            <label for="sel1">Credit Score</label>
            <select class="form-control" ng-model="customer_details.creditscorerangetype" id="sel1">
                <option value="">Select credit score</option>
                <option value="Awesome Credit">Awesome Credit</option>
                <option value="Average Credit">Average Credit</option>
                <option value="Good Credit">Good Credit</option>
            </select>
        </div>
    </div>
    <div class="col-md-6 form-group">
        <label>State</label>
        <input type="text" ng-model="customer_details.state" class="form-control">
    </div>
</div>
<div class="row">
    <div class=" col-md-6 form-group">
        <label>Social Security Number</label>
        <input type="text" ng-model="customer_details.ssn" class="form-control">
    </div>
    <div class=" col-md-6 form-group">
        <label>Date of Birth</label>
        <input type="text" ng-model="customer_details.dob" class="form-control" placeholder="DD/MM/YY">
    </div>
</div>

<div class="row">
    <div class=" col-md-6 form-group">
        <label>Expiration Date</label>
        <input type="text" ng-model="customer_details.expdate" class="form-control" placeholder="MM/YY">
    </div>
</div>

<!---->
<hr>
<div class="row">
    <div class="col-md-12 form-group text-center">
        <button class="btn btn-theme" style="width: 180px;border-radius:20px;" ng-click="progress(3)">Submit</button>
    </div>
</div>

