<!--<div id="bg-video">
    <div id="ezplayer" class="player" ></div>
</div>-->
  <div class="header-wrapper">
        <div class="container">

              <div class="navbar-header">
               
                 <a href="#/" class="navbar-brand"><span class="logo" ><img src="assets/images/logo.png"></span></a>


            </div>

          <a href="" class="menu-toggle btn btn-theme-transparent" onclick="event.preventDefault();"><i class="fa fa-bars"></i></a>
            <!-- /Mobile menu toggle button -->
            <!-- Navigation -->
            <nav class="navigation closed clearfix">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                    <ul class="nav sf-menu" id="menuactive">
                      <a href="" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
                        <li><a href="">Home</a></li>
                       
                        <li> <a href="">Business Gift Cards</a></li>
                       
                        <li> <a href="">Personal Gift Cards</a></li>
                       
                         <li> <a href="">Gift Ideas</a></li>
                     
                         <li><a href="">Check Balance</a></li>
                        
                         <li><a href="">Order Search</a></li>
                        
                         <li><a href="">Log In</a></li>
                        
                         <li  href=""><i class="fa fa-shopping-cart" style="font-size:24px"></i><span class="badge" style="vertical-align: super">{{cartnum}}</span></a></li>



                        </ul>
                        <!-- /navigation menu -->
                    </div>
                </div>
              
            </nav>
            <!-- /Navigation -->

           

            <div class="header-right-panel">            
             <button><strong>?</strong></button>
             <button><img src="assets/images/tel.png" width="20px;"></button>
             <input type="text" name="searchbar" placeholder="search" ><span class='glyphicon glyphicon-search'></span></div>

        </div>

         <nav class="navbar navbar-default" >

              <div class="container-fluid">
              
              <ul class="nav navbar-nav"  style="margin-left: 170px;">
                  <li><a>Home</a></li>
                  <li><a href="">Business Gift Cards</a></li>
                  <li><a href="">Personal Gift Cards</a></li>
                </ul>

                  <ul class="nav navbar-nav" style="float: right;margin-right: 100px;">
                  <li><a href="">Gift Ideas</a></li>
                  <li><a href="">Check Balance</a></li>
                  <li><a href="">Order Search</a></li>
                  <li><a href="">Log In</a></li>
                  <li><a href=""><i class="fa fa-shopping-cart" style="font-size:24px"></i><span class="badge" style="vertical-align: super">{{cartnum}}</span></a></li>
                 <!--  <li><a href="#"> <span class="glyphicon glyphicon-shopping-cart"></span></a></li> -->
                </ul>
              </div>
            </nav>
    </div>

<header id="header">
  
 
    <div class="container main-body">

        <div class="row" >

            <div class="col-md-9 intro-text">
                <div class="main">
                    <h1 class="landing-title-main"><!--Serve --><span class="rotate text-color landing-title-color"><!--Travelers--></span><!-- with Ease--></h1>
                </div>
             
            </div>
          
            <div class="col-md-3">
            <div align="left" class="col-lg-9 giftcardbtn">
                 <a class="btn btn-new " ng-click="searchAll()" style="color: white">Shop Gift Cards</a>
            </div> 
            
            <div class="video_bg  animated fadeInUp undefined visible" data-animated="fadeInUp" data-animation-delay="200">

                </div>
                <div id="mobileslider">
                    <div class="h150"></div>
                </div>

            
            </div>
        </div>
    </div>

    <!-- Slider Ends-->
</header>

<style>
 
 @media only screen and (min-width: 1024px) {

    .navbar-brand img
{
    margin-left: 200px !important;
    position: absolute !important;

}    }
    body{
     background: #fff;
}

 .row div[class*="col-"], .row aside[class*="col-"] {
     margin-top: 0px !important;
}
 .btn-new{
     margin-top: 92% !important;
     margin-left: -25% ;
     background: #002D61 !important;
}
 #home header {
     margin-top: -2% !important;
}
 
 @media only screen and (min-width: 767px){
     .navbar-nav>li>a {
         line-height: 20px !important;
    }
}
 @media (max-width: 768px){
     #home header {
         margin-top: 10% !important;
    }
     .btn-new{
         margin-top: 50% !important;
         margin-left: -20% ;
         background: #002D61 !important;
    }
}
 

</style>



