<!--<div id="bg-video">
    <div id="ezplayer" class="player" ></div>
</div>-->
<header id="header" >
    <div class="bg-overlay pattern" style="z-index: -1 !important;">

    </div>
    <div class="navbar navbar-fixed-top" id="navigation">
        <div class="container">
            <!-- Navigation Bar -->
            <div class="navbar-header">
                <!-- Responsive Menu Button -->
                <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Logo Image -->
                 <a href="#/" class="navbar-brand"><span class="logo" ><img src="https://www.incommincentives.com/Content/images/logo-incomm-incentives.png" style="margin-left: 25px;"></span></a> 
            </div>
            <!-- End Navigation Bar -->
            <!-- Navigation Menu -->
            <!-- End Navigation Menu -->
        </div>
        <!-- End container -->
    </div>
    <!-- Slider Begins-->
    <div class="container">
        <div class="row">
            <div class="col-md-9 intro-text">
                <!-- TEXT -->
                <div class="main">
                    <h1 class="landing-title-main"><!--Serve --><span class="rotate text-color landing-title-color"><!--Travelers--></span><!-- with Ease--></h1>
                </div>
                 <div align="center" class="col-lg-9 col-lg-offset-3">
                 <a class="btn btn-new" ng-click="searchAll()" style="color: white">Shop</a>
                </div>
            </div>
            <!--<div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12" style="text-align: center">
                        <button type="submit" class="btn btn-primary btn-lg btn-theme search-button-height" ng-click="searchAll()">Shop</button>
                    </div>

                </div>
            </div>-->
            <div class="col-md-3">
                <div class="video_bg  animated fadeInUp undefined visible" data-animated="fadeInUp" data-animation-delay="200">
                </div>
                <!-- Screenshots List -->
                <div id="mobileslider">
                    <div class="h150"></div>
                </div>
                <!-- End Screenshots List-->
            </div>
        </div>
    </div>
    </div>

    <!-- Slider Ends-->
</header>

<style>
    .btn-new{
        border: 2px solid #000000;
        background-color:darkred;
        color: darkred;
        font-size:30px;
        border-radius: 27px;
        width: 153px;
        margin-top: 100px;
    }

    .btn-new:hover {
        background-color:black;
        border: 2px solid darkred;
        border-radius: 27px;
    }
</style>



