<br>
<br>
<div class="container panel">
    <div class="stepwizard" style="margin-top: 30px">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a ng-hide="success1=='id1'" href="" ng-style="hide==0 ? {'background-color':'#0092CC','color':'white'}:{}" type="button" class="btn circle"    >

                  <!--  <i class="fa fa-check-circle" ></i>-->
                    1
                </a>
                <a ng-show="success1=='id1'" href="" ng-style="success1=='id1' ? {'background-color':'#4CAF50','color':'white'}:{}" type="button" class="btn circle" ng-click="changeTab(0)"   >

                    <!--  <i class="fa fa-check-circle" ></i>-->
                    1
                </a>
                <p>Personal Information</p>
            </div>
            <div class="stepwizard-step">
                <a  ng-hide="success2=='id2'" href=""  ng-style="hide==1 ? {'background-color':'#0092CC','color':'white'}:{}" type="button"  class="btn  circle" id="Security-Setup-step-3" >
                   2
                </a>
                <a ng-show="success2=='id2'" href="" ng-style="success2=='id2' ? {'background-color':'#4CAF50','color':'white'}:{}" type="button" class="btn circle" ng-click="changeTab(1)"   >

                    <!--  <i class="fa fa-check-circle" ></i>-->
                    2
                </a>
                <p>Shipping & Payment</p>
                </div>
            <div class="stepwizard-step">
                <a href=""  ng-style="hide==2 ? {'background-color':'#0092CC','color':'white'}:{}" type="button" class="btn  circle" id="ProfileSetup-step-2" >
                    3
                </a>

                <p>Credit Information</p>
            </div>
        </div>
    </div>

    <hr>
    <div class="col-md-offset-1 col-md-10   " >
        <br>
        <form name="myForm" novalidate>
            <div ng-show="hide==0" ng-include="'./views/personalinfo.html'"></div>
            <div ng-show="hide==1"ng-include="'./views/shipping.html'"></div>
            <div ng-show="hide==2"ng-include="'./views/credit.html'"></div>

        </form>
    </div>

</div>


<style>
    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;

    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }
    .circle {
        width: 56px;
        height: 56px;
        text-align: center;
        padding: 12px 0;
        font-size: 20px;
        line-height: 1.428571429;
        border-radius: 35px;
        margin-top: -14px;
        border: solid 3px #ccc !important;
        opacity:1 !important;
        -webkit-box-shadow:inset 0px 0px 0px 3px #fff !important;
        -moz-box-shadow:inset 0px 0px 0px 3px #fff !important;
        -o-box-shadow:inset 0px 0px 0px 3px #fff !important;
        -ms-box-shadow:inset 0px 0px 0px 3px #fff !important;
        box-shadow:inset 0px 0px 0px 3px #fff !important;
        backgournd-color:#428bca;
    }


    .row div[class*="col-"], .row aside[class*="col-"] {
        margin-top: 15px;
    }

    label {
        font-weight: 400;
    }
</style>