<toaster-container toaster-options="{'time-out': 3000, 'position-class': 'toast-bottom-right','close-button':true}"></toaster-container>

<div class="container panel panel-default personalgiftcards">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Personal Gift Cards</h2>
        </div>
    </div>
       <div class="row">
                <datalist id="datashow">
                    <option ng-repeat="p in phones">{{p.name}}</option>
                </datalist>
                                
      </div>
          
    <div class="row">
        <div class="col-md-12 content ez-listing" id="content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 product-border "  ng-style="l.visited==true ? {'opacity':'0.5'}:{}" class="thumbnail no-border no-margin no-padding thumbnail-ez-ezd clearfix" ng-repeat="l in list | orderBy:'-id' | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage |searchName:name">
                    <div class="cartitem">
                        <div class="">
                            <img ng-src="{{l.picture}}" class="img-responsive" width="240" height="300">
                            <span class="post-title">
                            </span>
                            <span class="round-tag">Special Offer</span>
                        </div>
                        <div class="">
                            <div class="row" >
                                <div class="col-md-12">
                                    <h5 class="text-center" style="color: black">{{l.name |limitTo: 30 }}</h5>
                                    <!-- <div class="text-center">
                                        <i class="price-text-color fa fa-star"></i>
                                        <i class="price-text-color fa fa-star"></i>
                                        <i class="price-text-color fa fa-star"></i>
                                        <i class="price-text-color fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="price col-md-6" style="margin-top: 0">
                                    <h6 class="price-text-color text-center font11">Retail Price: ${{l.retail_price}}</h6>
                                </div>
                                <div class="price col-md-6" style="float: right;margin-top: 0">
                                    <h6 class="price-text-color text-center font11">Sale Price: ${{l.sale_price}}</h6>
                                </div>
                            </div>
                            <div class="separator addtocartbtn clear-left">
                                <p style="text-align: center;">
                                    <i class="fa fa-plus"></i>
                                    <a ng-show="l.cartqt==0"  href="" class="hidden-sm" ng-click="addCart(l,l.id);l.cartqt=1;" >Add to cart</a>
                                    <a ng-show="l.cartqt>0" ng-style="{'opacity':'0.5'}" href="" class="hidden-sm" ng-click="openCart()" >Go To Cart</a>
                                </p>
                            </div>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Listing  start-->
    </div>
        <!-- Pagination -->
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <div class="pagination-wrapper">
                <ul class="pagination" style="padding-left: 395px;">
                    <li >
                        <a href="" ng-click="pagination.prevPage()">
                            <i class="fa fa-angle-double-left"></i> 
                            Previous
                        </a>
                    </li>
                    <li ng-repeat="n in arry">
                        <a href="" ng-click="pagination.toPageId(n)">{{n+1}}</a>
                    </li>
                    <li>
                        <a href="" ng-click="pagination.nextPage()">
                            Next 
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /Pagination -->
    </div>   
</div>
<style>
<<<<<<< HEAD
.page-title{
    font-size: 20px;
    color:#000000;
}
.price-text-color,#custom-search-input button {
    color: #0092CC;
    font-weight: 900;
}
.panel-default {
    border-color: #fff !important;
}
.ng-scope{
    background: #fff !important;
}
.addtocartbtn{
    background: #0092CC;
}
.addtocartbtn a,.addtocartbtn .fa{
    color: #fff;
}

</style>


