<div class="modal-header">
</div>
<div class="modal-body" align="center">
   What would you like to do?
</div>
<div class="modal-footer">
    <div align="center">
    <button class="btn btn-warning" type="button" ng-click="excursion()">Book a Tour</button>
    <button class="btn btn-warning" type="button" ng-click="listing()">Book a Condo</button>
    </div>
</div>