<div class="row">
    <h3 style="color: black">Personal Information</h3>
</div>
<div class="row">
    <div class="col-md-5 form-group">
        <label  >First Name</label>
        <input type="text" class="form-control"name="firstname" ng-pattern="/^[a-zA-Z ]{2,30}$/" ng-model="customer_details.firstname" required>
        <i class="red-text" ng-show="myForm.firstname.$error.pattern" >Invalid first name</i>
        <i class="red-text" ng-show="myForm.firstname.$error.required">First name required</i>
    </div>
    <!---->
    <div class=" col-md-2 form-group">
        <label >Middle Name</label>
        <input type="text" class="form-control" ng-model="customer_details.middlename" >
    </div>
    <!---->
    <div class="col-md-5 form-group">
        <label >Last Name</label>
        <input type="text" class="form-control" ng-pattern="/^[a-zA-Z ]{2,30}$/" name="lastname" ng-model="customer_details.lastname" required>
        <i class="red-text" ng-show="myForm.lastname.$error.pattern" >Invalid last name</i>
        <i class="red-text" ng-show="myForm.lastname.$error.required">Last name required</i>
    </div>
</div>
<!---->
<div class="row">
    <div class="col-md-6 form-group">
        <label >Email Address</label>
        <input type="email" class="form-control" name="email"  ng-model="customer_details.email" required>
        <i class="red-text" ng-show="myForm.email.$error.required">Email is required.</i>
        <i class="red-text" ng-show="myForm.email.$error.email">Enter the correct email.</i>
    </div>

    <div class="col-md-6 form-group">
        <label >Confirm Email Address</label>
        <input type="email" class="form-control" ng-model="email2">
        <i class="red-text" ng-if="customer_details.email!=email2">Email's don't match</i>
    </div>

</div>
<div class="row">
    <div class=" col-md-6 form-group">
        <label >Phone Number*</label>
        <input type="text" class="form-control" name="phone" minlength="10" maxlength="10" ng-pattern="phone" ng-model="customer_details.phone" required>
        <i class="red-text" ng-show="myForm.phone.$error.required">Phone is required.</i>
        <i class="red-text" ng-show="myForm.phone.$error.minlength">Phone no not less that 10 char.</i><br>
        <i class="red-text" ng-show="myForm.phone.$error.pattern">Enter the correct phone number</i>

    </div>
    <div class=" col-md-6 form-group">
        <label >Current Carrier</label>
        <select class="form-control">
            <option value="">Select current carrier</option>
            <option value="tmobile">T-mobile</option>
            <option value="at&t">AT&T</option>
            <option value="verizon">Verizon</option>
            <option value="sprint">Sprint</option>
            <option value="other">Others</option>
        </select>
    </div>

</div>

<div class="row">
    <div class="col-sm-12 form-group">
        <div class="col-md-1 text-right text-f">
            <input id="checkid" name="echeck" ng-model="echeck" type="checkbox" value="test" required>
        </div>
        <div class=" col-md-11 text-w">By checking this box, I agree that T-Mobile, or others acting on its behalf, may call or text me at the number provided above in order to complete this order, and that they may use an autodialer to do so. I understand that my agreement is not a condition of purchasing any goods or services.</div>
    </div>
</div>
<!---->
<hr>
<div class="row">
    <div class="col-md-12 form-group text-center">
        <button class="btn btn-theme"  style="border-radius:20px;width : 180px;" ng-click="progress(1)" ng-disabled="!echeck">Next</button>
    </div>
</div>

