<toaster-container toaster-options="{'time-out': 3000, 'position-class': 'toast-bottom-right','close-button':true}"></toaster-container>
<div class="content-area">
    <div class="container panel panel-default">
        <div class="row">

            <div class="col-md-12" style="margin-top: 7px;margin-bottom: -14px;">

                <div class=" " style=" margin-top: 26px;margin-bottom: 26px;">
                    <div id="custom-search-input" style="text-align: -webkit-center; text-align:-moz-center ">
                        <div class="input-group col-md-5 remove-icon">
                            <input type="text" list="datashow" class="  search-query form-control" ng-model="search" ng-change="setSearch()" placeholder="" />
                            <datalist id="datashow" >
                                <option ng-repeat="p in phones">{{p.name}}</option>
                            </datalist>
                            <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" ng-click="getSearch(search)">
                                        <span class=" glyphicon glyphicon-search" ></span>
                                    </button>
                                </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- PAGE WITH SIDEBAR -->
    <section class="page-section with-sidebar sub-page" style="padding-top:0 ">
        <div class="container">
            <div class="row">
                <!-- /SIDEBAR -->
                <div class="col-md-12 content ez-listing" id="content">
                    <!-- Excursion Listing -->
                    <div class="">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3"  ng-style="l.visited==true ? {'opacity':'0.5'}:{}" class="thumbnail no-border no-margin no-padding thumbnail-ez-ezd clearfix" ng-repeat="l in list | orderBy:'-id' | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage |searchName:name">
                                <div class="col-item">
                                    <div class="post-img-content">
                                        <img ng-src="{{l.picture}}" class="img-responsive" style="width: 100%;height:100%" />
                                        <span class="post-title">
                                               <!-- <b>Perfumes</b><br>
                                                <b>Clássico</b>-->
                                                 </span>
                                        <span class="round-tag">Specical Offer</span>
                                    </div>
                                    <div class="info">
                                        <div class="row" >
                                            <div class="col-md-12">
                                                <h5 class="text-center" style="color: black">{{l.name |limitTo: 30 }}</h5>
                                                <div class="text-center">
                                                    <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                                </i><i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="price col-md-6" style="margin-top: 0">
                                                <h4 class="price-text-color text-center"><h6 class="price-text-color text-center">Retail Price: ${{l.retail_price}}</h6></h4>
                                            </div>
                                            <div class="price col-md-6" style="float: right;margin-top: 0">
                                                <h6 class="price-text-color text-center">Sale Price: ${{l.sale_price}}</h6>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-list"></i><a href="" class="hidden-sm"  ng-click="getDetail(l.id);l.visited=true;">Configure</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-plus"></i><a ng-show="l.cartqt==0"  href="" class="hidden-sm" ng-click="addCart(l,l.id);l.cartqt=1;" >Add to cart</a>
                                                <a ng-show="l.cartqt>0" ng-style="{'opacity':'0.5'}" href="" class="hidden-sm" ng-click="openCart()" >Go To Cart</a>
                                            </p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Listing  start-->

                    <!-- Pagination -->
                    <div class="pagination-wrapper">
                        <ul class="pagination">
                            <li ><a href="" ng-click="pagination.prevPage()"><i class="fa fa-angle-double-left"></i> Previous</a></li>
                            <!-- <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                             <li><a href="#">2</a></li>
                             <li><a href="#">3</a></li>
                             <li><a href="#">4</a></li>-->

                            <li ng-repeat="n in arry"><a href="" ng-click="pagination.toPageId(n)">{{n+1}}</a></li>
                            <!--<li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>-->
                            <li><a href="" ng-click="pagination.nextPage()">Next <i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- /Pagination -->
                </div>
                <!-- /CONTENT -->
            </div>
        </div>
    </section>
    <!-- /PAGE WITH SIDEBAR -->
    <!-- PAGE -->
    <!--<section class="page-section contact dark">
        <div class="container">
            &lt;!&ndash; Get in touch &ndash;&gt;
            <h2 class="section-title">
            </h2>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>
            </div>
            &lt;!&ndash; /Get in touch &ndash;&gt;
        </div>
    </section>-->
    <!-- /PAGE -->
</div>
<!-- /CONTENT AREA -->
<!-- FOOTER -->




