<div class="row">
    <h3 style="color: black">Shipping & Payment Information</h3>
</div>

<div class="row">
    <div class="col-md-12 form-group">
        <label >Shipping Address Line 1</label>
        <input type="text" class="form-control" name="shipaddress1" ng-model="customer_details.shipaddress1" required>
        <i class="red-text" ng-show="myForm.shipaddress1.$error.required">Address is required.</i>
    </div>
    <!---->
</div>

<div class="row">
    <div class="col-md-12 form-group">
        <label >Shipping Address Line 2</label>
        <input type="text" class="form-control" name="shipaddress2" ng-model="customer_details.shipaddress2" required>
        <i class="red-text" ng-show="myForm.shipaddress2.$error.required">Address 2 is required.</i>
    </div>
    <!---->
</div>


<div class="row">
    <div class="col-md-4 form-group">
        <label >City</label>
        <input type="text" class="form-control" name="city"  ng-model="customer_details.shipcity" required>
        <i class="red-text" ng-show="myForm.city.$error.required">City is required.</i>
    </div>
    <!---->
    <div class="col-md-4 form-group">
        <label >State</label>
        <input type="text" class="form-control" name="shipstate" ng-model="customer_details.shipstate" required>
        <i class="red-text" ng-show="myForm.shipstate.$error.required">State is required.</i>
    </div>
    <div class="col-md-4 form-group">
        <label >Zipcode</label>
        <input type="text" class="form-control" ng-minlength="5" ng-maxlength="6" ng-pattern="/^\d+$/" name="shipzip"  ng-model="customer_details.shipzip" required>
        <i class="red-text" ng-show="myForm.shipzip.$error.required">Zipcode is required.</i>
        <i class="red-text" ng-show="myForm.shipzip.$error.pattern || myForm.shipzip.$error.minlength || myForm.shipzip.$error.maxlength">Must be 5-6 digits</i>
    </div>
</div>
<!---->
<div class="row">
<div class="col-md-12">
    <strong>This shipping address will also be used as billing address</strong><br>
    <label class="checkbox-inline"><input type="checkbox" ng-model="checkaddress" style="margin-top: 6px;">Use same address for billing</label>
    </div>
</div>
<!---->
<!--<div class="row" ng-if="!check">
    <h3 style="color: black">Billing Address</h3>
</div>-->
<div class="row" ng-if="!checkaddress">
    <div class="col-md-12 form-group">
        <label >Billing Address Line 1</label>
        <input type="text" class="form-control" name="billaddress1" ng-model="customer_details.billaddress1" required>
        <i class="red-text" ng-show="myForm.billaddress1.$error.required">Address is required.</i>
    </div>
    <!---->
</div>

<div class="row" ng-if="!checkaddress">
    <div class="col-md-12 form-group">
        <label >Billing Address Line 2</label>
        <input type="text" class="form-control" name="billaddress2"  ng-model="customer_details.billaddress2" required>
        <i class="red-text" ng-show="myForm.shipaddress2.$error.required">Address is required.</i>
    </div>
    <!---->
</div >


<div class="row" ng-if="!checkaddress">
    <div class="col-md-4 form-group">
        <label >City</label>
        <input type="text" class="form-control" name="city"  ng-model="customer_details.billcity" required>
        <i class="red-text" ng-show="myForm.city.$error.required">City is required.</i>
    </div>
    <!---->
    <div class="col-md-4 form-group">
        <label >State</label>
        <input type="text" class="form-control" name="shipstate" ng-model="customer_details.billstate" required>
        <i class="red-text" ng-show="myForm.shipstate.$error.required">State is required.</i>
    </div>
    <div class="col-md-4 form-group">
        <label >Zipcode</label>
        <input type="text" class="form-control" ng-minlength="5" ng-maxlength="6" ng-pattern="/^\d+$/" name="billzip"  ng-model="customer_details.shipzip" required>
        <i class="red-text" ng-show="myForm.shipzip.$error.required">Zipcode is required.</i>
        <i class="red-text" ng-show="myForm.shipzip.$error.pattern || myForm.shipzip.$error.minlength || myForm.shipzip.$error.maxlength">Must be 5-6 digits</i>
    </div>
</div>



<div class="row">
    <div class="col-md-6 form-group">
        <label >Name on Card</label>
        <input type="text" ng-model="customer_details.nameoncard"  class="form-control">
    </div>


    <!---->
    <div class="col-md-6 form-group">
        <label>Enter valid credit card number</label>
        <input type="text" class="form-control"  ng-pattern="/^\d+$/" ng-minlength="10" ng-maxlength="16" name="cardno"  ng-model="customer_details.cardno" placeholder="Valid Card Number" required>
        <i class="red-text" ng-show="myForm.cardno.$error.pattern" >Credit card number must contain only numbers</i>
        <i class="red-text " ng-show="myForm.cardno.$error.minlength || myForm.cardno.$error.maxlength">Credit card number must be 10-16 digits</i>
        <i class="red-text"  ng-show="myForm.cardno.$error.required">Card number is required.</i>
        <i class="red-text"  ng-show="myForm.cardno.$error.maxlength">Card number not more than 16 digits.</i>
    </div>
</div>
<!---->
<div class="row">
    <div class="col-md-4 form-group">
        <label >Expiration Date</label>
        <input type="text" class="form-control" name="expirydate"  ng-model="customer_details.expirydate" placeholder="MM/YY" required>
        <i class="red-text" ng-show="myForm.expirydate.$error.required">Expiry date is required.</i>
    </div>
    <!---->
    <div class="col-md-2 form-group">
        <label >CVV</label>
        <input type="password" name="cvv" class="form-control"  minlength="3" maxlength="3" ng-model="customer_details.cvv" required>
        <i class="red-text" ng-show="myForm.cvv.$error.required">CVV is required.</i>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-12 form-group text-center">
        <button class="btn btn-theme"  style="border-radius:20px;width : 180px;" ng-click="progress(2)">Next</button>
    </div>
</div>

