<div class="container panel panel-default">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <br><br> <h2 style="color:#0fad00">Success</h2>
            <img src="http://osmhotels.com//assets/check-true.jpg">
           <h3 style="color: black">Dear, {{customername}}</h3>
            <h4 style="color: black">Your Order id is: {{orderid}}</h4>
            <h4 style="color: black">Your Cart id is: {{cartid}}</h4>
            <p style="font-size:20px;color:#5C5C5C;">Thank you for shopping with us
                </p>
            <a href="" class="btn btn-theme" ng-click="home()">Home</a>
            <br><br>
        </div>

    </div>
</div>