@media screen and (max-width: 800px) {
    .text-w{
        width: 88%;
        float: right;
    }
}
@media screen and (max-width: 800px) {
    .text-f{
        float: left;
    }
}

@media screen and (max-width: 800px) {
    .text-box{

        margin-left: 16px;
    }
}

@media screen and (max-width: 800px) {
    .text-icon{
        margin-left: 19px;
    }
}

@media screen and (max-width: 800px) {
    .text-i{
        margin-left: -7px;
    }
}

@media screen and (max-width: 800px) {
    .text-right{
        margin-left: -21px;
    }
}

@media screen and (max-width: 800px) {
    .text-t{
        margin-top: 38px;
    }
}
@media screen and (max-width: 800px) {
    .text-i{
        margin-top: 30px;
    }
}

/*@media screen and (max-width: 800px) {
    .text-font{
        font-size: 10px;
    }
}*/
@media screen and (max-width: 800px) {
    .chk-in{
        margin-left: 100px;
    }
}
